<!DOCTYPE html>
{% extends "BracketApp/base.html" %}

  {% load staticfiles %}

  {% block body_block %}
  <img src="{% static "BracketApp/images/logo.png" %}" alt="That sucks!">

  <div class="cur_scores">
    {% if season %}
      {% for entry in season %}
          <h1>CURRENT STANDINGS (Scoring Elimination {{entry.current_elimination|add:-entry.first_scored_elimination|add:1}}</h1>
      {% endfor %}
    {% endif %}
    {% if cur_scores %}
      <table class="table table-hover">
        <thead>
          <th>Player</th>
          <th>Place</th>
          <th>Cumulative Score</th>
          <th>Points Back from Leader</th>
        </thead>
        {% for entry in cur_scores %}
          <tr>
            <td>{{entry.player}}</td>
            <td>{{entry.rank}}</td>
            <td>{{entry.cum_score}}</td>
            <td>{{entry.points_back}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>NO CURRENT SCORES!</p>
    {% endif %}
  </div>

  <p></p>

  <div class="results">
    <h1>ELIMINATED CONTESTANTS</h1>
    {% if boots %}
      <table class="table table-hover">
        <thead>
          <th>Finish</th>
          <th>Contestant</th>
          <th>Shameful Exit?</th>
        </thead>
        {% for entry in boots %}
          <tr>
            <td>{{entry.actual_rank}}</td>
            <td>{{entry.first_name}} {{entry.last_name}}</td>
            <td>{{entry.shameful_exit}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>NO BOOTS!</p>
    {% endif %}
  </div>

  <p></p>

  <div class="brackets">
    <h1>BRACKETS</h1>
    {% if brackets %}
    <table class="table table-hover">
        <thead>
            <th>Place</th>
            {% for player in players %}
                <th>{{player.name}}</th>
            {% endfor %}
        </thead>
        {% for key,value in brackets.items %}
            <tr>
                <td>{{key}}</td>
                {% for bracket in value %}
                    <td>{{bracket.contestant}}</td>
                {% endfor %}
            </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>NO BRACKETS!</p>
    {% endif %}
  </div>

  <p></p>

  <div class="bonus">
    <h1>BONUS STATS</h1>
    {% if bonus %}
      <table class="table table-hover">
        <thead>
          <th>Contestant</th>
          <th>Confessionals</th>
          <th>Individual Immunity Wins</th>
          <th>Votes Against</th>
        </thead>
        {% for entry in bonus %}
          <tr>
            <td>{{entry.first_name}} {{entry.last_name}}</td>
            <td>{{entry.num_confessionals}}</td>
            <td>{{entry.num_individual_immunity_wins}}</td>
            <td>{{entry.num_votes_against}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>NO BONUS STATS!</p>
    {% endif %}
  </div>

  <!--<div class="brackets">-->
  <!--  <h1>BRACKETS</h1>-->
  <!--  {% if brackets %}-->
  <!--    {% for key,value in brackets.items %}-->
  <!--      <h2>{{ key }}</h2>-->
  <!--      <table class="table table-hover">-->
  <!--        <thead>-->
  <!--          <th>Finish</th>-->
  <!--          <th>Contestant</th>-->
  <!--        </thead>-->
  <!--        {% for bracket in value %}-->
  <!--          <tr>-->
  <!--            <td>{{bracket.predicted_rank}}</td>-->
  <!--            <td>{{bracket.contestant}}</td>-->
  <!--          </tr>-->
  <!--        {% endfor %}-->
  <!--      </table>-->
  <!--    {% endfor %}-->
  <!--  {% else %}-->
  <!--    <p>NO BRACKETS!</p>-->
  <!--  {% endif %}-->
  <!--</div>-->

  <p></p>

  <div class="scores">
    <h1>FULL SCORES</h1>
    {% if scores %}
      {% for key,value in scores.items %}
        <h2>{{ key }}</h2>
        <table class="table table-hover">
          <tr>
            <td><b>Elimination</b></td>
            {% for score in value %}
              <td>{{ score.elimination }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Score</b></td>
            {% for score in value %}
              <td>{{ score.score }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Cumulative Score</b></td>
            {% for score in value %}
              <td>{{ score.cum_score }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Place</b></td>
            {% for score in value %}
              <td>{{ score.rank }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Points Back from Leader</b></td>
            {% for score in value %}
              <td>{{ score.points_back }}</td>
            {% endfor %}
          </tr>
        </table>
      {% endfor %}
    {% else %}
      <p>NO SCORES!</p>
      {% endif %}
  </div>

  {% endblock %}
