{% extends "BracketApp/BracketApp_base.html" %}
  {% block body_block %}
  <div class="jumbotron">
    <h1 class="display-1">Welcome to <b>BrackeTracker</b></h1>
    <!-- <h2>{{injectme}}</h2> -->
  </div>

  <h1 class="display">To submit a bracket:
  <ol>
    <li>Click "Register" and create a user profile</li>
    <li>Log in to your profile and click "Submit a bracket"</li>
    <li>You will see a thank you message once your bracket is submitted successfully</li>
  </ol>
  </h1>
  {% endblock %}
