{% extends "BracketApp/BracketApp_base.html" %}

  {% load static %}

  {% block body_block %}

  <!-- <script type="text/javascript">
    var cell = $('td');

    cell.each(function() { //loop through all td elements ie the cells

      var cell_value = $(this).html(); //get the value

      if (cell_value == 'Jessica Peet') //if then for if value is 1
        $(this).css({'background' : 'red'});   // changes td to red.
    });
  </script> -->

  <div class="cur">
  <div class="cur_scores">
    {% if season and cur_scoring_round and num_scoring_rounds %}
      {% for entry in season %}
          <h1>CURRENT STANDINGS</h1>
          <p>As of Rose Ceremony {{entry.current_elimination}}. Scoring Round {{cur_scoring_round}}/{{num_scoring_rounds}}.</p>
      {% endfor %}
    {% endif %}
    {% if cur_scores %}
      <table class="table table-hover">
        <thead>
          <th>Player</th>
          <th>Place</th>
          <th>Cumulative Score</th>
          <th>Points Behind Leader</th>
          <th>Maximum Points Left to Be Earned</th>
        </thead>
        {% for entry in cur_scores %}
          <tr>
            <td>{{entry.player.name}}</td>
            <td>{{entry.rank}}</td>
            <td>{{entry.cum_score}}</td>
            <td>{{entry.points_back}}</td>
            <td>{{entry.maximum_points_remaining}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>NO CURRENT SCORES!</p>
    {% endif %}
  </div>

  <p></p>

  <div class="brackets">
    <h1>BRACKETS</h1>
    {% if brackets_and_pics %}
    <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th colspan="2">Finish</th>
        {% for rank in ranks %}
          <th>{{rank}}</th>
        {% endfor %}
      </thead>
      {% for key,value in brackets_and_pics.items %}
        <tr>
          <td><b>{{key.name}}</b></td>
          <td>
            {% if value.pic %}
              <img src="{{value.pic.url}}" alt="No pic :(" style="max-height: 100px">
            {% endif %}
          </td>
          {% for bracket in value.bracket %}
            {% if bracket.contestant in cur_boots %}
              <td class="bg-danger">
                {{bracket.contestant.first_name}} {{bracket.contestant.last_name}}
              </td>
            {% else %}
              <td>
                {{bracket.contestant.first_name}} {{bracket.contestant.last_name}}
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    </div>
    {% else %}
      <p>NO BRACKETS!</p>
    {% endif %}
  </div>

  <p></p>

  {% if bonus_picks and most_confessionals and most_individual_immunity_wins and most_votes_against %}
  <div class="bonus_picks">
    <h1>BONUS PICKS</h1>
    <table class="table table-hover">
      <thead>
        <th>Player</th>
        <th>Confessionals</th>
        <th>Individual Immunity Wins</th>
        <th>Votes Against</th>
      </thead>
      {% for entry in bonus_picks %}
        <tr>
          <td>{{entry.player.name}}</td>

          {% if entry.most_confessionals.last_name in most_confessionals.last_name %}
            <td class="bg-success">{{entry.most_confessionals}}</td>
          {% else %}
            <td>{{entry.most_confessionals}}</td>
          {% endif %}

          {% if entry.most_individual_immunity_wins.last_name in most_individual_immunity_wins.last_name %}
            <td class="bg-success">{{entry.most_individual_immunity_wins}}</td>
          {% else %}
            <td>{{entry.most_individual_immunity_wins}}</td>
          {% endif %}

          {% if entry.most_votes_against.last_name in most_votes_against.last_name %}
            <td class="bg-success">{{entry.most_votes_against}}</td>
          {% else %}
            <td>{{entry.most_votes_against}}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
  <p></p>
  {% endif %}

  <div class="results">
    <h1>ELIMINATED CONTESTANTS</h1>
    {% if cur_boots %}
      <table class="table table-hover">
        <thead>
          <th>Finish</th>
          <th>Contestant</th>
          <!-- <th>Shameful Exit?</th> -->
        </thead>
        {% for entry in cur_boots %}
          <tr>
            <td>{{entry.actual_rank}}</td>
            <td>{{entry.first_name}} {{entry.last_name}}</td>
            <!-- <td>{{entry.shameful_exit}}</td> -->
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>NO BOOTS!</p>
    {% endif %}
  </div>

  <p></p>

  <!-- <div class="bonus">
    <h1>BONUS CATEGORIES</h1>
    {% if bonus %}
      <table class="table table-hover">
        <thead>
          <th>Contestant</th>
          <th>Confessionals</th>
          <th>Individual Immunity Wins</th>
          <th>Votes Against</th>
        </thead>
        {% for entry in bonus %}
          <tr>
            <td>{{entry.first_name}} {{entry.last_name}}</td>
            <td>{{entry.num_confessionals}}</td>
            <td>{{entry.num_individual_immunity_wins}}</td>
            <td>{{entry.num_votes_against}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>NO BONUS!</p>
    {% endif %}
  </div> -->

  <!--<div class="brackets">-->
  <!--  <h1>BRACKETS</h1>-->
  <!--  {% if brackets %}-->
  <!--    {% for key,value in brackets.items %}-->
  <!--      <h2>{{ key }}</h2>-->
  <!--      <table class="table table-hover">-->
  <!--        <thead>-->
  <!--          <th>Finish</th>-->
  <!--          <th>Contestant</th>-->
  <!--        </thead>-->
  <!--        {% for bracket in value %}-->
  <!--          <tr>-->
  <!--            <td>{{bracket.predicted_rank}}</td>-->
  <!--            <td>{{bracket.contestant}}</td>-->
  <!--          </tr>-->
  <!--        {% endfor %}-->
  <!--      </table>-->
  <!--    {% endfor %}-->
  <!--  {% else %}-->
  <!--    <p>NO BRACKETS!</p>-->
  <!--  {% endif %}-->
  <!--</div>-->

  <p></p>

  <div class="scores">
    <h1>FULL SCORES</h1>
    {% if scores %}
      {% for key,value in scores.items %}
        <h2>{{ key.name }}</h2>
        <table class="table table-hover">
          <tr>
            <td><b>Elimination</b></td>
            {% for score in value %}
              <td>{{ score.elimination }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Score</b></td>
            {% for score in value %}
              <td>{{ score.score }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Cumulative Score</b></td>
            {% for score in value %}
              <td>{{ score.cum_score }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Place</b></td>
            {% for score in value %}
              <td>{{ score.rank }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Points Behind Leader</b></td>
            {% for score in value %}
              <td>{{ score.points_back }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td><b>Maximum Points Left to Be Earned</b></td>
            {% for score in value %}
              <td>{{ score.maximum_points_remaining }}</td>
            {% endfor %}
          </tr>
        </table>
      {% endfor %}
    {% else %}
      <p>NO SCORES!</p>
    {% endif %}
  </div>
  </div>
  {% endblock %}
