{% extends "BracketApp/BracketApp_base.html" %}
  {% load staticfiles %}
  {% load tz %}
  {% block body_block %}
  <div class="jumbotron">
    <h1>{{season_detail.show}}: {{season_detail.subtitle}}</h1>
    <!-- <p><b>Premiere Date:</b> {{season_detail.premiere|timezone:"US/Eastern"}} EST</p> -->
    <p><b>Premiere Date:</b> {{season_detail.premiere}}</p>
    <p><b>Current Season?</b> {{season_detail.current_season}}</p>
    <p>{{season_detail.players}}</p>

    <table class="table table-hover">
      <thead>
        <th>Contestant</th>
        <th>Finish</th>
      </thead>
      {% for contestant in season_detail.contestants.all %}
        <tr>
          <td>{{contestant.first_name}} {{contestant.last_name}}</td>
          <td>{{contestant.actual_rank}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endblock %}
